@import url(./__link/list__link.css);

.footer__list {
  display: flex;
  text-decoration: none;
  padding: 0;
  margin: 0;
}


@media screen and (max-width: 700px) {
  .footer__list {
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .footer__list {
    height: 74px;
    position: relative;
  }
}
