@import url(./__button-page/navi__button-page.css);
@import url(./__button-signin/navi__button-signin.css);
@import url(./__button-signout/navi__button-signout.css);

.header__navi {
  display: flex;
  background-color: rgba(0, 0, 0, 0)
}

@media screen and (max-width: 660px) {
  .header__navi {
   display: none;
  }
}
