@import url(./preloader.css);
@import url(./__subtitle/circle-preloader__subtitle.css);
@import url(./_is-active/preloader_is-active.css);

.articles-list__circle-preloader {
  display: none;
  padding: 80px;
  justify-content: center;
}
