
.open__register {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  background-color: #ffffff;
  color: #2F71E5;
  border: none;
  outline: none;
  padding: 0;
}
