.button__img {
  width: 24px;
  height: 24px;
  margin: auto 19px auto 12px;
}

@media screen and (max-width: 1024px) {
  .button__img {
    margin: auto 15px auto 12px;
  }
}

@media screen and (max-width: 660px) {
  .button__img {
    margin: auto 0 auto 12px;
}
}
