.search__bg {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 576px;
  margin: 0;
  background-image: url(../../../../images/Background.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

@media screen and (max-width: 750px) {
  .search__bg {
    min-height: 536px;
  }
}
