@import url(./__save-icon/articles-card__save-icon.css);
@import url(./__delete-icon/articles-card__delete-icon.css);
@import url(./__warning/image__warning.css);
@import url(./__topic/articles-card__topic.css);

.articles-card__image {
  height: 272px;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
  position: relative;
}
/*
.articles-card__image::after {
  content: '';
  display: block;
  width: 282px;
  height: 282px;
  background-color: rgba(0, 0, 0, .3);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */

@media screen and (max-width: 1300px) {
  .articles-card__image {
    max-height: 234px;
  }
}

@media screen and (max-width: 1200px) {
  .articles-card__image {
    max-height: 218px;
  }
}

@media screen and (max-width: 1024px) {
  .articles-card__image {
    max-height: 204px;
  }
}

@media screen and (max-width: 850px) {
  .articles-card__image {
    max-height: 150px;
  }
}

@media screen and (max-width: 650px) {
  .articles-card__image {
    max-height: 196px;
  }
}
