.results__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
  justify-items: center;
  margin-bottom: 64px;
  position: relative;
  z-index: 1;
}

.results__list.results__list_articles {
  margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
  .results__list {
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .results__list {
    grid-gap: 8px;
  }
}

@media screen and (max-width: 426px) {
  .results__list {
    grid-gap: 10px;
    margin-bottom: 16px;
  }
}
