.not-found__subtitle {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #B6BCBF;
  width: 356px;
  margin-left: calc((100vw - 356px) / 2);
}

@media screen and (max-width: 375px) {
  .not-found__subtitle {
    font-size: 18px;
    line-height: 20px;
    width: 310px;
    margin-left: calc((100vw - 310px) / 2);
  }
}
