@import url(./unused/unused.css);
@import url(./about/about.css);
@import url(./search/search.css);
@import url(./popup/popup.css);
@import url(./title/title.css);
@import url(./articles-list/articles-list.css);

.main {
  position: relative;
  padding: 0;
  margin: 0;
}
