@import url(./__button-page/menu__button-page.css);
@import url(./__button-signin/menu__button-signin.css);
@import url(./__button-signout/menu__button-signout.css);

@media screen and (max-width: 660px) {
  .burger__menu {
    display: flex;
    flex-direction: column;
    margin: 0 16px 0;
  }
}

