.card__corner-label {
  position: absolute;
  top: 24px;
  right: 69px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 14px 15px 14px;
  color: black;
  font-weight: bold;
  background-color: white;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  display: none;
  z-index: 10;
}

.card__corner-label_active {
  display: block;
}

@media screen and (max-width: 1024px) {
  .card__corner-label {
    top: 8px;
    right: 53px;
  }
}

@media screen and (max-width: 426px) {
  .card__corner-label {
    top: 16px;
    right: 61px;
  }
}
