@import url(./__image/articles-card__image.css);
@import url(./__description/articles-card__description.css);

.articles-card {
  position: relative;
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  height: 576px;
  margin-bottom: 16px;
  margin-right: 16px;
}

.articles-card:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 1300px) {
  .articles-card {
    width: 344px;
    height: 495px;
  }
}

@media screen and (max-width: 1200px) {
  .articles-card {
    width: 320px;
    height: 461px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .articles-card {
    width: 300px;
  }
}

@media screen and (max-width: 950px) {
  .articles-card:nth-child(2n) {
    margin-right: 0;
  }
  .articles-card:nth-child(3n) {
    margin-right: 10px;
  }
}

@media screen and (max-width: 850px) {
  .articles-card {
    width: 224px;
    height: 420px;
  }
}


@media screen and (max-width: 650px) {
  .articles-card {
    width: 288px;
    height: 440px;
    margin-right: 0;
  }
  .articles-card:nth-child(3n) {
    margin-right: 0;
  }
}
