@import url(./__name/link__name.css);
@import url(./__name/link__name_inactive.css);
@import url(./__name/link__name_articles.css);
@import url(./__underline/link__underline.css);
@import url(./__underline/link__underline_articles.css);

.button-page__link {
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
  padding: 32px 16px 24px;
}

@media screen and (max-width: 1024px) {
  .button-page__link {
    padding: 26px 8px 17px;
  }
}
