@import url(./__subtitle/button__subtitle.css);
@import url(./open__register/open__register.css);
@import url(./open__signin/open__signin.css);

.popup__button {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  height: 64px;
  margin-top: 39px;
  color: rgb(255, 255, 255);
  /* background-color: #2F71E5; */
  background-color: #E6E8EB;
  border-radius: 100px;
  border: none;
  outline: none;
}

.popup__button#button-user {
  margin-top: 0;
}
