.card__keyword {
  position: absolute;
  top: 24px;
  left: 24px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 14px 15px 14px;
  color: black;
  font-weight: bold;
  background-color: white;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .card__keyword {
    top: 8px;
    left: 8px;
  }
}

@media screen and (max-width: 426px) {
  .card__keyword {
    top: 16px;
    left: 16px;
  }
}
