.description__source {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  margin: 12px 0 0;
}

@media screen and (max-width: 1300px) {
  .description__source {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .description__source {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .description__source {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 850px) {
  .description__source {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 650px) {
  .description__source {
    font-size: 16px;
    line-height: 20px;
  }
}
