@import url(./_active/field__button_active.css);

.field__button {
  position: absolute;
  right: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #b6bcbf;
  font-size: 18px;
  line-height: 24px;
  background: #e6e8eb;
  width: 168px;
  height: 64px;
  border-radius: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

@media screen and (max-width: 650px) {
  .field__button {
    margin-top: 72px;
    width: 288px;
    height: 56px;
  }
}
