.button__text-signin {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  margin: 12px;
}

@media screen and (max-width: 1024px) {
  .button__text-signin
 {
    font-size: 16px;
    line-height: 24px;
  }
}
