.image__warning {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #000000;
  border-radius: 10px;
  background: #FFFFFF;
  width: 182px;
  position: absolute;
  top: 24px;
  right: 70px;
  margin: 0;
  padding: 14px 0;
  display: none;
  outline: none;
}

@media screen and (max-width: 850px) {
  .image__warning {
    top: 8px;
    right: 54px;
    width: 162px;
    font-size: 8px;
    line-height: 10px;
  }
}

@media screen and (max-width: 650px) {
  .image__warning {
    top: 24px;
    right: 70px;
    width: 182px;
    font-size: 10px;
    line-height: 12px;
  }
}
