@import url(./__name/button-signin__name.css);

.menu__button-signin {
  height: 56px;
  margin: 24px 0;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);

}
